<div class="row panel">
  <div class="medium-12 columns">
    <h4><%= link_to obj.title, recipe_path(obj) %> <small> added by: <%= obj.user.username %></small></h4>
    <p><em>Description: </em><%= display_fix(obj.description) %></p>
    <p><em>Preparation time: </em><%= display_fix(obj.prep_time) %></p>
    <p><em>Ingredients: </em><%= display_fix(obj.ingredients) %></p>
    <p><em>Directions: </em><%= display_fix(obj.directions) %></p>
  </div>
  <% if logged_in? %>
    <%= render 'vote', obj: obj %>
  <% end %>
</div>
