<%= render 'shared/content_title', title: 'Recipes' %>

<% @recipes.each do |recipe| %>
<div class="row panel">
  <h4><%= link_to recipe.title, recipe_path(recipe) %></h4>
  <p><em><%= display_fix(recipe.description) %></em></p>
  <p><%= "#{recipe.comments.size} comments" %></p>

  <% if logged_in? %>
    <%= render 'vote', obj: recipe %>
  <% end %>
</div>
<% end %>
